* {
  margin: 0;
  box-sizing: border-box;
}
.app {
  background-color: white;
  min-height: 100vh;
}
.container {
  padding: 0 40px;
  width: 100%;
}
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}