.admin-dashboard {
    margin: 0;
    background-color: #f5f7fa;
}
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    height: 60px;
    border-bottom: 2px solid #38ef7d;
    background: linear-gradient(90deg, #11998e, #38ef7d);
    z-index: 10;
}
.navBar {
    padding: 0 40px;
}
@media (max-width: 600px) {
    .navBar {
      padding: 0 10px;
    }
}
.navBar .user {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    transition: .3s;
    border-radius: 5px;
    border: 1px solid transparent;
}
.navBar .user:hover {
    border: 1px solid #35f89d;;
    background-color: #2bd183;
    cursor: pointer;
}
.navBar .user .icon {
    color: white;
    font-size: 35px;
}
.navBar .user .user-info h5, .navBar .user .user-info p {
    margin: 0;
}
.divider {
    height: 70px;
}

/* dashboard styling */
.dashboard {
    padding: 30px 0;
}
.dashboard .dashboard-header {
    margin-top: 90px;
}
.dashboard .dashboard-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 30px 0;
}
.dashboard .dashboard-overview .card-dashboard {
    display: flex;
    justify-content: space-between;
}
.dashboard-overview .card-dashboard .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}
.dashboard-overview .card-dashboard .icon {
    padding: 7px;
    border-radius: 5px;
    /* border: 1px solid #eee; */
    height: fit-content;
    transition: .3s;
}
.dashboard-overview .card-dashboard {
    transition: .3s;
    border: 1px solid #eee;
    border-radius: 10px;
}
/* hover effetc */
/* one */
.dashboard-overview > div:nth-child(1) .card-dashboard {
    background: linear-gradient(135deg, #8e44ad, #c6a4e7);
}
.dashboard-overview > div:nth-child(1) .card-dashboard .icon {
    background: linear-gradient(90deg, #c6a4e7, #d8bff3);
    color: black;
}

.dashboard-overview > div:nth-child(2) .card-dashboard {
    background: linear-gradient(135deg, #7ff8ab, #8defb1);
}
.dashboard-overview > div:nth-child(2) .card-dashboard .icon {
    background-color: #cbffde;
    color: black;
}
.dashboard-overview > div:nth-child(3) .card-dashboard {
    background: linear-gradient(135deg, #fbbc4e, #f8bf5c);
}
.dashboard-overview > div:nth-child(3) .card-dashboard .icon {
    background-color: #ffd791;
    color: black;
}
.dashboard-overview > div:last-child .card-dashboard {
    background: linear-gradient(135deg, #f69d9d, #f26363);
}
.dashboard-overview > div:last-child .card-dashboard .icon {
    background-color: #f3b3b3;
    color: black;
}
.card-dashboard .info span {
    font-weight: 500;
    font-size: 22px;
}
.dashboard .overview {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    width: 100%;
}
.dashboard .overview .order-table {
    height: fit-content;
}
  
/* On small screens, stack the columns vertically */
@media (max-width: 768px) {
    .dashboard .overview {
      grid-template-columns: 1fr;
    }
}
.dashboard .overview .inventory-overview {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    background-color: white;
}
.dashboard .inventory-overview div p {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}
.dashboard .inventory-overview div p span {
    font-weight: 600;
}
/* dashboard styling */


/* products styling */
.products {
    padding: 90px 0;
}
.products .prod-header {
    margin: 20px 0 30px 0;
    display: flex;
    justify-content: space-between;
}
.products .actions,
.orders .actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.products .actions .update, 
.products .actions .delete,
.orders .actions .view, 
.orders .actions .download,
.orders .actions .more
 {
    color: #555;
    padding: 2px;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
    font-size: 27px;
}
.products .actions .update:hover {
    color: blue;
    background-color: rgba(203, 208, 255, 0.733);
}
.products .actions .delete:hover {
    color: red;
    background-color: rgba(255, 180, 180, 0.438);
}
.products .status {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid;
    font-weight: 500;
    display: block;
    width: fit-content;
    text-align: center;
}
/* products styling end*/


/* orders styling */
.orders {
    padding: 90px 0;
}
.orders .order-header {
    margin-top: 20px;
}
.orders .orders-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 30px 0;
}
.orders .orders-overview .card-order {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}

/* one */
.orders-overview .card-order:nth-child(1) {
    background: linear-gradient(135deg, #d808fb, #e344ff);
}
.orders-overview .card-order:nth-child(1) .icon {
    background-color: #ea75ff;
    color: black;
}
.orders-overview .card-order:nth-child(2) {
    background: linear-gradient(135deg, #5090f7, #71a5f8);
}
.orders-overview .card-order:nth-child(2)  .icon {
    background: linear-gradient(90deg, #99c0fd, #a0c2f7);
    color: black;
}
.orders-overview .card-order:nth-child(3) {
    background: linear-gradient(135deg, #fa8c3d, #fba86d);
}
.orders-overview .card-order:nth-child(3) .icon {
    background-color: #fcbe93;
    color: black;
}
.orders-overview .card-order:nth-child(4) {
    background: linear-gradient(135deg, #38fd80, #92f0b5);
}
.orders-overview .card-order:nth-child(4) .icon {
    background-color: #6cffa2;
    color: black;
}

.orders-overview .card-order .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}
.orders-overview .card-order .icon {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #eee;
    height: fit-content;
}

.card-order .info span {
    font-weight: 600;
    font-size: 25px;
}
.orders .order-table .status-cell {
    display: flex;
    justify-content: center;
}
.orders .order-table .status {
    display: block;
    padding: 5px;
    border-radius: 15px;
    font-weight: 500;
    border: 1px solid #eee;
    border-color: transparent;
    width: fit-content;
}

.orders .actions .view:hover {
    color: blue;
    background-color: rgba(203, 208, 255, 0.733);
}
.orders .actions .download:hover {
    color: orange;
    background-color: rgba(203, 208, 255, 0.733);
}
.orders .actions .more:hover {
    color: blueviolet;
    background-color: rgba(203, 208, 255, 0.733);
}

.admin-logout {
    padding: 10px 40px 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    width: fit-content;
}
.admin-logout:hover {
    background-color: #eee;
    padding-left: 15px;
}
.admin-login span {
    text-decoration: none;
}
/* orders styling end*/

/* menu */
.menu  .icon {
   margin-right: 8px;
}
.menu .menu-item:first-child .icon {
    color: blue;
}
.menu .menu-item:nth-child(2) .icon {
    color: orange;
}
.menu .menu-item:last-child .icon {
    color: green;
}

/* menu */