.home {
    margin-top: 76px;
    margin-bottom: 50px;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.home-content {
    
}
.home .product-header {
    margin: 0;
}
.home .product-header h1 {
    color: black;
}
.home .product-header p {
    color: #777;
}
.home .products {
    margin: 0 0 40px 0;
    display: grid;
    gap: 20px;
    padding: 0px 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (max-width: 670px) {
    .home .products {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px 20px;
    }
}

/* landing page  */
.hero {
    width: 100%;
    background-color: red;
}

.hero-section {
    width: 100%;
    height: calc(100vh - 76px) !important;
}
.hero-section button {
    padding: "12px 24px";
    background-color: "#ff6600";
    color: "#fff";
    border: "none";
    border-radius: "25px";
    cursor: "pointer";
    font-size: "1rem";
    margin-top: "1rem"
}