.order-success {
    width: 100%;
    display: flex;
    justify-content: center;
}
.success-msg {
    padding: 20px;
    border: 1px solid #d7ccc8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 500px;
}
.success-msg .success-icon {
    font-size: 80px;
    color: #00e676;
}
.success-msg h4 {
    font-size: 25px;
}
.success-msg h5 {
    font-size: 20px;
}
.success-msg span {
    font-weight: 700;
    font-size: 30px;
    color: #6366F1;
}
.success-msg p {
    color: #8c768b;
    font-weight: 600;
}
.success-msg div {
    width: 100%;
    background-color: #e5e7eb;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.success-msg .go-home-btn {
    width: 100%;
    background-color: white;
}
.success-msg .go-home-btn Button {
    background-color: #6366F1;
    width: 100%;
}