.card {
    width: 250px; 
    max-width: 345px; 
    margin-top: 60px;
    box-shadow: 0 5px 10px #eee;
    background-color: red;
    border: 1px solid #d7ccc8;
}
/* .card:hover {
} */
.image-item {
    object-fit: cover;
    width: 100%;
    transition: .3s;
}    
.image-wrapper {
    position: relative;
    overflow: hidden;
}
.image-wrapper div {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0 0 0 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    z-index: 10;
    background-color: #6366F1;
    color: white;
}
.image-wrapper div span {
    position: absolute;
    top: 0px;
    right: 5px;
}
.image-wrapper::before {
    content: "";
    position: absolute;
    background-color: #faf8f7e3;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: 0.3s ease-in-out;
}
.image-wrapper:hover::before {
    width: 0px;
    height: 0px;
}
.image-wrapper:hover .image-item {
    transform: scale(1.1);
}
.card-content {
    border-top: none;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #d7ccc8;
}
.card-content .prod-price {
    font-size: 22px;
    font-weight: 900;
    color: #6366F1;
}
.card-content .old-price {
    font-size: 18px;
    color: #555;
    text-decoration: line-through;
    margin-left: 10px;
}
.card-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.card-actions .add-to-cart {
    width: fit-content;
    position: relative;
}